:root{
    --primary-color: #413620;
    --secondary-color: #9C6615;
    --tertiary-color: #CDD1DE;
    --accent-color: #FFD791;
}

.home{
    background-color: var(--primary-color) !important;
    min-height: 100vh;
}
.homeWrapper{
    color: var(--accent-color);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.introWrapper{
    display: block;   
    width: 100%; 
}
.name{
    font-size: 2em;
}
@media (min-width: 1200px) { 
    .introWrapper {
        padding-left: 100px;
    }
}
@media (min-width: 992px) { 
    .introWrapper {
        padding-left: 100px;
    }
}
@media (max-width: 991px) { 
    .introWrapper {
        text-align: center;
    }
}
@media (max-width: 576px) { 
    .introWrapper {
        text-align: center; 
    }
}

